
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.heading {
  color: #333;
  font-weight: bold;
}

.content-section {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}


#github-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: blue;
}


#github-link:hover {
  color: green;
}


#image-section {
  text-align: center;
  margin-top: 20px;
}

.styled-image {
  width: 300px;
  height: auto;
  border: 2px solid #000;

}